---
Checks: >
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
      cert-*,
    clang-analyzer-*,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    concurrency-*,
    misc-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -modernize-use-using,
    -modernize-use-nullptr,
    -modernize-concat-nested-namespaces,
    -modernize-use-override,
    -modernize-use-equals-default,
    -modernize-use-equals-delete,
    -modernize-use-default-member-init,
    performance-*,
    portability-*,
    readability-*,
    -readability-identifier-length

WarningsAsErrors: >
    *,
    -readability-identifier-naming,
    -clang-diagnostic-deprecated-declaration,
    -readability-magic-numbers,

HeaderFilterRegex: '^(liara)/.*\.(h)$'

CheckOptions:
    -   key: readability-identifier-naming.StructPrefix
        value: 'liara_'
    -   key: readability-identifier-naming.StructCase
        value: lower_case
    -   key: readability-identifier-naming.EnumPrefix
        value: 'liara_'
    -   key: readability-identifier-naming.EnumCase
        value: lower_case
    -   key: readability-identifier-naming.UnionPrefix
        value: 'liara_'
    -   key: readability-identifier-naming.UnionCase
        value: lower_case
    -   key: readability-identifier-naming.FunctionPrefix
        value: 'liara_'
    -   key: readability-identifier-naming.FunctionCase
        value: lower_case
    -   key: readability-identifier-naming.VariablePrefix
        value: ''
    -   key: readability-identifier-naming.VariableCase
        value: lower_case
    -   key: readability-identifier-naming.ParameterPrefix
        value: ''
    -   key: readability-identifier-naming.ParameterCase
        value: lower_case
    -   key: readability-identifier-naming.ConstantPrefix
        value: ''
    -   key: readability-identifier-naming.ConstantCase
        value: lower_case
    -   key: readability-identifier-naming.GlobalConstantPrefix
        value: 'LIARA_'
    -   key: readability-identifier-naming.GlobalConstantCase
        value: UPPER_CASE
    -   key: readability-identifier-naming.LocalConstantCase
        value: lower_case
    -   key: readability-identifier-naming.ConstantParameterCase
        value: lower_case
    -   key: readability-identifier-naming.TypedefPrefix
        value: 'liara_'
    -   key: readability-identifier-naming.TypedefCase
        value: lower_case
    -   key: readability-identifier-naming.TypedefSuffix
        value: '_t'
    -   key: readability-identifier-naming.MacroDefinitionPrefix
        value: 'LIARA_'
    -   key: readability-identifier-naming.MacroDefinitionCase
        value: UPPER_CASE
    -   key: readability-identifier-naming.EnumConstantPrefix
        value: 'LIARA_'
    -   key: readability-identifier-naming.EnumConstantCase
        value: UPPER_CASE

    -   key: modernize-use-auto
        value: 'false'

    -   key: bugprone-argument-comment.StrictMode
        value: 'true'
